@media (max-width: 768px) {
  .navbar-collapse {
    float: none !important;
    text-align: center;
    overflow: hidden;
  }
  footer .navbar-nav {
    float: none !important;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .technology {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto 0;
  }
}
@media (max-width: 992px) {
  header p {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  header .description {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .swiper p {
    padding: 45px 50px 30px !important;
  }
}
@media (min-width: 992px) and (max-width: 1600px) {
  /*  .left{
    background-position: -710px  0;

  }*/
  .left {
    top: -180px;
    background-size: 90%;
    background-position: -310px;
  }
  .macbook {
    position: absolute;
    height: 60%;
    left: -591px;
    top: 210px;
  }
  /*  .right{
      background-position: 380px 0;
    }*/
  .right {
    background-position: 380px 0;
    background-size: 200%;
    top: 0px !important;
  }
  .svg-left {
    position: absolute;
    left: 380px;
    width: 201%;
    top: -164px;
  }
  .watch.svg-left {
    width: 205%;
    top: -159px;
    left: 375px;
  }
}
/*@media (min-width: @screen-md)and (max-width: @screen-lg) {
  .left {
    -webkit-background-size: 90%;
    background-size: 90%;
    background-position: -310px 0;

    top: 0 !important;
  }

  .right {
    -webkit-background-size: 200%;
    background-size: 200%;
    top: -30px !important;
  }
}*/
@media (min-width: 1600px) {
  .left {
    background-position: 100% 0;
  }
  .right {
    background-position: 190px 0;
  }
  .macbook {
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: -470px;
    z-index: 4;
    top: 0px ;
  }
  .svg-left {
    position: absolute;
    left: 190px;
  }
}
@media (min-width: 2000px) {
  .left {
    background-position: 100% 0;
  }
  .right {
    background-position: 0px 0;
  }
  .svg-left {
    position: absolute;
    left: 0;
  }
}
