@import "responsive";
@import "bootstrap/bootstrap";
@import "swiper/swiper";


@nav-hover-gradient: linear-gradient(to top right, #FF915D 0%, #AF1BE8 100%);
@main-swiper-gradient: linear-gradient(to bottom, #D13939 0%, #FFC043 100%);
@btn-grey-gradient: linear-gradient(to right top, #DBDBDB 0%, #FFFFFF 100%);
@grey-gradient: linear-gradient(to bottom, #F3F4F6 0%, #FFFFFF 100%);
@btn-red-gradient: linear-gradient(bottom, #fb7059 0%, #d84f52 100%);

@footer-bgr: #2d2d32;
@text-footer: #5b5b66;
@white: #ffffff;
@black: #000000;
@grey: #cccccc;
@text-grey: #90949b;


/* animation */
.transition-all(@time) {
  -moz-transition: all @time ease;
  -webkit-transition: all @time ease;
  -o-transition: all @time ease;
  transition: all @time ease;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing-animation {
  -webkit-animation: swing 1s ease;
  -o-animation: swing 1s ease;
  animation: swing 1s ease;
}


/* title of each section*/



body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Stem", Helvetica, Arial, sans-serif;
}

.wrapper {
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  color: @black;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
p, h1, h4{
  cursor: default;
}
.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}
.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}
@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.custom-navbar {

  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: @white;
  .navbar-brand {
    height: auto;
    margin-left: 30px !important;
  }
  .navbar-collapse {
    float: right;
    padding: 17.5px 5px;
    overflow: hidden;
  }
  .navbar-nav {
    li > a {

      background: @white;
      text-transform: uppercase;
      font-size: 12px;
      color: @black;
      font-weight: bold;
      display: inline-block;


      &:hover,
      &:focus {
        background: @nav-hover-gradient;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;

      }
    }
    .lang a {
      background-color: transparent;
      color: @grey;
      &:hover,
      &:focus {
        background-image: none;
        background-color: transparent;
      }
    }
    .active {
      color: @black !important;
        &:after {
        content: '';
        display: block;
        height: 3px;
        background-image: @nav-hover-gradient;
      }
    }
  }

  button {
    background: none;
    border: none;

  }
  .icon-bar {
    background-image: @nav-hover-gradient;
  }
  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-toggle {
    margin-top: 27px;
    margin-bottom: 27px;
  }
}
header {
  width: 100%;
  height: auto;
  position: relative;
  color: @white;
 background-image: -o- @main-swiper-gradient;
 background-image: -moz- @main-swiper-gradient;
 background-image: -webkit- @main-swiper-gradient;
 background-image: -ms- @main-swiper-gradient;
 background-image: @main-swiper-gradient;
  p {
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 140px 120px 0;
  }
  .description {
    font-size: 18px;
    text-align: center;
    padding: 0 270px 40px;
    display: block;
  }
  .btn-gray {
    display: block;
    margin: 0 auto 75px;
    color: @black;
    padding: 20px 55px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 6px;
    background-image: -o- @btn-grey-gradient;
    background-image: -moz- @btn-grey-gradient;
    background-image: -webkit- @btn-grey-gradient;
    background-image: -ms- @btn-grey-gradient;
    background-image: @btn-grey-gradient;
    &:hover, &:focus {
      -webkit-box-shadow: inset 0px 0px 234px -105px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 234px -105px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 234px -105px rgba(0, 0, 0, 0.75);
      background-color: transparent;
    }
    .swiper-container{
      cursor: pointer;
    }
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .9);
    opacity: .5;
  }
  .swiper-pagination-bullet-active {
    border-color: @white;
    opacity: 1;
  }

}

table {
  table-layout: fixed;
  width: 100%;
  height: 500px;
  position: absolute;
  pointer-events: none;
}

td {
  height: 1040px;
}

td:nth-child(2) {
  height: 500px;
  cursor: pointer;
}

.right {
  background-image: url(../images/bgr-right.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 1040px;
  width: 700px;
  right: 0px;
  top: -220px;
  z-index: 4;
}

.left {
  background-image: url(../images/bgr-left.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 1040px;
  width: 1000px;
  left: 0;
  z-index: 4;
  top: -150px;
}


.our-services {
  padding: 100px 0;
  background-image: -o- @grey-gradient;
  background-image: -moz- @grey-gradient;
  background-image: -webkit- @grey-gradient;
  background-image: -ms- @grey-gradient;
  background-image: @grey-gradient;
  .icon {
    height: 100px;
    width: auto;
  }
  .web {
    background: url(../images/sprites/web.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .mobile {
    background: url("../images/sprites/mobile.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .custom {
    background: url("../images/sprites/custom.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .integration {
    background: url("../images/sprites/integration.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .service {
    padding-top: 70px;
  }
  .name{
    padding-top: 30px;
  }
  h4 {
    margin: 0;
  }
  p {
    text-align: center;
    color: @text-grey;
    font-size: 13px;
    padding: 20px 0px;
    margin: 0;
  }
  .btn-red {
    background-image: -o-linear-gradient(top, #FB7159 0%, #D84F51 100%);
    background-image: -moz-linear-gradient(top, #FB7159 0%, #D84F51 100%);
    background-image: -webkit-linear-gradient(top, #FB7159 0%, #D84F51 100%);
    background-image: -ms-linear-gradient(top, #FB7159 0%, #D84F51 100%);
    background-image: linear-gradient(to top, #FB7159 0%, #D84F51 100%);
    color: @white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    &:hover, &:focus {
      -webkit-box-shadow: inset 0px 0px 234px -105px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 234px -105px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 234px -105px rgba(0, 0, 0, 0.75);
      background-color: transparent;
    }
  }

}

.swiper {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/slide1.jpg") no-repeat center;
  overflow: hidden;
  -webkit-background-size: 100%;
  background-size: 100%;
  cursor: pointer;
  p {
    padding: 150px 200px;
    font-size: 28px;
    text-transform: uppercase;
    color: @white;
    text-align: center;
  }
 .swiper-button-prev:before {
    content: '';
    display: block;
    width: 20px;
    height: 65px;
    background-image: url(../images/sprites/left.png);

  }

  .swiper-button-next:before {
    content: '';
    display: block;
    width: 20px;
    height: 65px;
    background-image: url(../images/sprites/right.png);
  }

  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 25px;
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .9);
  }
  .swiper-pagination-bullet-active {
    border-color: @white;
  }
}

.our-technologies {
  padding: 95px 0 40px;
  .title {
    padding-bottom: 75px;
  }
  .technology {
    cursor: pointer;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    text-align: center;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    min-height: 50px;
    background-position: center;
    opacity: 0.5;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&l…3 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -o-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover, &:active{
      opacity: 1;
      filter: url("");
      -o-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  .net{
    background-image: url(../images/sprites/net.png);
    -webkit-background-size: 75%;
    background-size: 60%;
  }
  .windows{
    background-image: url(../images/sprites/windows.png);
    -webkit-background-size: 85%;
    background-size: 85%;
  }
  .iphone{
    background-image: url(../images/sprites/iphone.png);
    -webkit-background-size: 75%;
    background-size: 60%;
  }
  .android{
    background-image: url(../images/sprites/android.png);
    -webkit-background-size: 75%;
    background-size: 75%;
  }
  .java{
    height: 90px;
    background-image: url(../images/sprites/java.png);
    -webkit-background-size: 50%;
    background-size: 50%;
  }
  .php {
    height: 55px;
    margin-top: 20px;
    background-image: url(../images/sprites/php.png);
    -webkit-background-size: 55%;
    background-size: 55%;
  }
  .html{
    height: 90px;
    background-image: url(../images/sprites/html.png);
    -webkit-background-size: 45%;
    background-size: 45%;
  }
}

footer {
  .navbar-default {
    border:none;
    padding: 17px 0;
    background-color: @footer-bgr;
    color: @text-footer;
    .nav > li > a {
      font-size: 12px;
      text-transform: uppercase;
      color: @text-footer;
      &:hover, &:focus {
        background-color: transparent;
        color: @white;
      }
    }
    .navbar-brand {
      height: auto;
      margin-left: 0 !important;
    }
    p {
      font-size: 10px;
      margin: 0;
      display: inline-block;
      padding: 13px 0;
    }
    .navbar {
      padding: 15px 0;
      margin: 0;
    }
    .navbar-nav {
      float: right;
    }
  }
}
